<h3><a>Détailles</a></h3>

<button (click)="goBack()">Go back</button>
<div *ngIf="hero ;else noDetails">
  <div id="hero-{{hero.id}}">
    <h3>{{hero.name | uppercase}} Details</h3>
    <div>
      <span>id: </span>{{hero.id}}
      <label>name:
        <input [(ngModel)]="hero.name" placeholder="name">
      </label>
    </div>
    <button (click)="save()">Save</button>
  </div>
  <ng-template #noDetails>
    <p>No details</p>
  </ng-template>


  <div class="blog-poast-info">
    <ul>
      <li><i class="glyphicon glyphicon-user"> </i><a class="admin" href="#"> Admin </a></li>
      <li><i class="glyphicon glyphicon-calendar"> </i>30-12-2015</li>
      <li><i class="glyphicon glyphicon-comment"> </i><a class="p-blog" href="#">3 Comments </a></li>
      <li><i class="glyphicon glyphicon-heart"> </i><a class="admin" href="#">5 favourites </a></li>
      <li><i class="glyphicon glyphicon-eye-open"> </i>1.128 views</li>
    </ul>
  </div>
