<!--Template-->
<!-- Code inclus dans /index.html -->

<!--start-main-->
<div class="header">
  <div class="header-top">
    <div class="container">
      <div class="logo">
        <a href="/" style="text-decoration:none;">
          <h1>
            <!-- Titre dans app.component.ts -->
            {{ title }}
          </h1>
        </a>
      </div>
      <div class="search">
        <form>
          <input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
          <input type="submit" value="">
        </form>
      </div>
      <div class="social">
        <ul>
          <li><a href="#" class="facebook"> </a></li>
          <li><a href="#" class="facebook twitter"> </a></li>
          <li><a href="#" class="facebook chrome"> </a></li>
          <li><a href="#" class="facebook in"> </a></li>
          <li><a href="#" class="facebook beh"> </a></li>
          <li><a href="#" class="facebook vem"> </a></li>
          <li><a href="#" class="facebook yout"> </a></li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <app-navigation></app-navigation>

</div>

<!-- banner -->
<div class="banner">

</div>
<!-- technology -->
<div class="technology">
  <div class="container">

    <div class="row">

      <div class="col-md-9 .col-xs-12">
        <!-- technology-top -->
        <div class="tc-ch">


        
          <!-- Le routeur affiche ce qui correspond à l'url dans sa configuration -->
          <!-- Configuration dans src/app/app-routing.module.ts -->
          <router-outlet></router-outlet>


        </div>
        <div class="clearfix"></div>
        <!-- technology-top -->
      </div>

      <!-- technology-right -->
      <div class="col-md-3 .col-xs-12">
        <div class="blo-top">
          <div class="tech-btm">
            <h4>Rester informer</h4>
            <p></p>
            <div class="name">
              <form>
                <input type="text" placeholder="Email" required="">
              </form>
            </div>
            <div class="button">
              <form>
                <input type="submit" value="Subscribe">
              </form>
            </div>
            <div class="clearfix"> </div>
          </div>
        </div>
        <div class="blo-top1">
          <div class="tech-btm">
            <h4>Derniers articles</h4>
            <div class="blog-grids">
              <div class="blog-grid-left">
                <a href="#"><img src="./assets/images/6.jpg" class="img-responsive" alt="" /></a>
              </div>
              <div class="blog-grid-right">

                <h5><a href="#">International Leadership Programme</a> </h5>
              </div>
              <div class="clearfix"> </div>
            </div>
            <div class="blog-grids">
              <div class="blog-grid-left">
                <a href="#"><img src="./assets/images/7.jpg" class="img-responsive" alt="" /></a>
              </div>
              <div class="blog-grid-right">

                <h5><a href="#">Solimed ALGERIE</a> </h5>
              </div>
              <div class="clearfix"> </div>
            </div>
          </div>
        </div>

      </div>
      <div class="clearfix"></div>
      <!-- technology-right -->



    </div>

  </div>
</div>
<!-- technology -->
<!-- footer -->

<!-- Footer -->
<div class="footer">
  <div class="container">
    <div class="col-md-4 footer-left">
      <h6>THIS LOOKS GREAT</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt consectetur
        adipisicing elit,</p>
    </div>
    <div class="col-md-4 footer-middle">
      <h4>Twitter Feed</h4>
      <div class="mid-btm">
        <p>Consectetur adipisicing</p>
        <p>Sed do eiusmod tempor</p>
        <a href="https://w3layouts.com/">https://w3layouts.com/</a>
      </div>

      <p>Consectetur adipisicing</p>
      <p>Sed do eiusmod tempor</p>
      <a href="https://w3layouts.com/">https://w3layouts.com/</a>

    </div>
    <div class="col-md-4 footer-right">
      <h4>Quick Links</h4>
      <li><a href="#">Eiusmod tempor</a></li>
      <li><a href="#">Consectetur </a></li>
      <li><a href="#">Adipisicing elit</a></li>
      <li><a href="#">Eiusmod tempor</a></li>
      <li><a href="#">Consectetur </a></li>
      <li><a href="#">Adipisicing elit</a></li>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<!-- footer -->
<!-- footer-bottom -->
<div class="foot-nav">
  <div class="container">
    <ul>
      <li><a routerLink="/dashboard">Dashboard</a></li>
      <li><a routerLink="/heroes">Heroes</a></li>
      <li><a routerLink="/blog">Blog</a></li>

      <li><a href="#">Contact</a></li>
      <div class="clearfix"></div>
    </ul>
  </div>
</div>
<!-- footer-bottom -->
<div class="copyright">
  <div class="container">
    <p>© 2016 Business_Blog. All rights reserved | Template by <a href="http://w3layouts.com/">W3layouts</a></p>
    <p>
    </p>
  </div>
</div>
