<!--Template-->
<!-- Code inclus dans /index.html -->

<!--start-main-->
<div class="header">
  <div class="header-top">
    <div class="container">
      <div class="logo">
        <a href="/" style="text-decoration:none;">
            <!-- Titre dans app.component.ts --> 
          <img src="./assets/images/Logo-colin-transparent-rouge.png" style="width: 307px;" class="logo" alt="{{ title }}">
        </a>
      </div>

      <div class="social">
          <a href="https://www.facebook.com/Algerianchallengers/" target="_blank" class="facebook"> </a>
        </div>

      <div class="clearfix"></div>
    </div>
  </div>
  <app-navigation></app-navigation>

</div>

<!-- banner -->
<div class="banner">

</div>
<!-- main -->
<div class="main">
  <div class="container">

    <div class="row">

      <div class="col-md-9 .col-xs-12">
        <!-- main-top -->
        <div class="tc-ch">


        
          <!-- Le routeur affiche ce qui correspond à l'url dans sa configuration -->
          <!-- Configuration dans src/app/app-routing.module.ts -->
          <router-outlet></router-outlet>


        </div>
        <div class="clearfix"></div>
        <!-- main-top -->
      </div>

      <!-- main-right -->
      <div class="col-md-3 .col-xs-12">
        <div class="blo-top">
          <div class="tech-btm">
            <h4>Rester informer</h4>
            <p></p>
            <div class="name">
              <form>
                <input type="text" placeholder="Email" required="">
              </form>
            </div>
            <div class="button">
              <form>
                <input type="submit" value="Subscribe">
              </form>
            </div>
            <div class="clearfix"> </div>
          </div>
        </div>
        <div class="blo-top1">
          <div class="tech-btm">
            <h4>Derniers articles</h4>
            <div class="blog-grids">
              <div class="blog-grid-left">
                <a href="#"><img src="./assets/images/6.jpg" class="img-responsive" alt="" /></a>
              </div>
              <div class="blog-grid-right">

                <h5><a href="#">International Leadership Programme</a> </h5>
              </div>
              <div class="clearfix"> </div>
            </div>
            <div class="blog-grids">
              <div class="blog-grid-left">
                <a href="#"><img src="./assets/images/7.jpg" class="img-responsive" alt="" /></a>
              </div>
              <div class="blog-grid-right">

                <h5><a href="#">Solimed ALGERIE</a> </h5>
              </div>
              <div class="clearfix"> </div>
            </div>
          </div>
        </div>

      </div>
      <div class="clearfix"></div>
      <!-- main-right -->



    </div>

  </div>
</div>
<!-- main -->
<!-- footer -->

<!-- Footer -->
<!--
<div class="footer">

  <div class="container">
    
    <div class="col-md-4 footer-left">
      <h6>THIS LOOKS GREAT</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt consectetur
        adipisicing elit,</p>
    </div>
    <div class="col-md-4 footer-middle">
      <h4>Twitter Feed</h4>
      <div class="mid-btm">
        <p>Consectetur adipisicing</p>
        <p>Sed do eiusmod tempor</p>
        <a href="https://w3layouts.com/">https://w3layouts.com/</a>
      </div>

      <p>Consectetur adipisicing</p>
      <p>Sed do eiusmod tempor</p>
      <a href="https://w3layouts.com/">https://w3layouts.com/</a>

    </div>
    <div class="col-md-4 footer-right">
      <h4>Quick Links</h4>
      <li><a href="#">Eiusmod tempor</a></li>
    </div>


    <div class="clearfix"></div>
  </div>
      
</div>
 -->
<!-- footer -->
<!-- footer-bottom -->
<div class="copyright">
  <div class="container">
    <p>© 2019 Algerian Challengers</p>
    <p>
    </p>
  </div>
</div>
