<!--Template-->
<!-- Code inclus dans /index.html -->

<!--start-main-->
<div class="header">
  <div class="header-top">
    <div class="container">
      <div class="logo">
        <a href="/" style="text-decoration:none;">
          <h1>
            <!-- Titre dans app.component.ts -->
            {{ title }}
          </h1>
        </a>
      </div>
      <div class="search">
        <form>
          <input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
          <input type="submit" value="">
        </form>
      </div>
      <div class="social">
        <ul>
          <li><a href="#" class="facebook"> </a></li>
          <li><a href="#" class="facebook twitter"> </a></li>
          <li><a href="#" class="facebook chrome"> </a></li>
          <li><a href="#" class="facebook in"> </a></li>
          <li><a href="#" class="facebook beh"> </a></li>
          <li><a href="#" class="facebook vem"> </a></li>
          <li><a href="#" class="facebook yout"> </a></li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
<!-- Navigation -->
  <!--head-bottom-->
  <div class="head-bottom">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
          aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a routerLink="/dashboard">Dashboard</a></li>
          <li><a routerLink="/heroes">Heroes</a></li>
          <li><a routerLink="/blog">Blog</a></li>


          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tech
              <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="tech.html">Action</a></li>
              <li><a href="tech.html">Action</a></li>
              <li><a href="tech.html">Action</a></li>
            </ul>
          </li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
    <nav></nav>
  </div>
  <!--head-bottom-->
</div>


<!-- Le routeur affiche ce qui correspond à l'url dans sa configuration -->
<!-- Configuration dans app-routing.module.ts -->
<router-outlet></router-outlet>

<!-- Affichage du composant messages situé dans le dossier ./app/messages/ -->
<app-messages></app-messages>


<!-- Footer -->
<div class="footer">
  <div class="container">
    <div class="col-md-4 footer-left">
      <h6>THIS LOOKS GREAT</h6>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt consectetur
        adipisicing elit,</p>
    </div>
    <div class="col-md-4 footer-middle">
      <h4>Twitter Feed</h4>
      <div class="mid-btm">
        <p>Consectetur adipisicing</p>
        <p>Sed do eiusmod tempor</p>
        <a href="https://w3layouts.com/">https://w3layouts.com/</a>
      </div>

      <p>Consectetur adipisicing</p>
      <p>Sed do eiusmod tempor</p>
      <a href="https://w3layouts.com/">https://w3layouts.com/</a>

    </div>
    <div class="col-md-4 footer-right">
      <h4>Quick Links</h4>
      <li><a href="#">Eiusmod tempor</a></li>
      <li><a href="#">Consectetur </a></li>
      <li><a href="#">Adipisicing elit</a></li>
      <li><a href="#">Eiusmod tempor</a></li>
      <li><a href="#">Consectetur </a></li>
      <li><a href="#">Adipisicing elit</a></li>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
<!-- footer -->
<!-- footer-bottom -->
<div class="foot-nav">
  <div class="container">
    <ul>
      <li><a routerLink="/dashboard">Dashboard</a></li>
      <li><a routerLink="/heroes">Heroes</a></li>
      <li><a routerLink="/blog">Blog</a></li>

      <li><a href="#">Contact</a></li>
      <div class="clearfix"></div>
    </ul>
  </div>
</div>
<!-- footer-bottom -->
<div class="copyright">
  <div class="container">
    <p>© 2016 Business_Blog. All rights reserved | Template by <a href="http://w3layouts.com/">W3layouts</a></p>
  </div>
</div>
