/* You can add global styles to this file, and also import other style files */
/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* Style chargé dans app/app.component.html */
html, body{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 100%;
	background: #e5e5e5;
}
body a,.grid_1,plan_1,plan_1.one,plan_1.two,i.icon1, i.icon2, i.icon3, i.icon4, i.icon5, i.icon6 {
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
@font-face {
   font-family: 'Raleway-Regular';
   src: url('Raleway-Regular.ttf')format('truetype');
}
a:hover{
 text-decoration:none;
}
input[type="button"],input[type="submit"],li.parallelogram{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;
     font-family: 'Roboto Condensed', sans-serif;
}
p{
	margin:0;
	font-family: 'Open Sans', sans-serif;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
.header-top {
        padding: 1.5em 0;
		background:#fff;
}
/*--logo--*/
.logo {
  float: left;
}
.logo  a{
 display:block;
}
.logo a h1 {
    font-size: 2em;
    font-weight: 700;
    color: #fff;
    background: #464646;
    padding: 0.2em 0.5em;
}
.logo  a h1:hover{
 text-decoration:none;
}
/*--logo--*/
/*--social--*/
.social {
    float: right;
    width: 26.33%;
    padding: 0.32em 0;
}
.social ul{
	padding:0;
	margin:0;
}
.social ul li{
    display: inline-block;
    margin: 0;
}
.social ul li a.facebook{
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOoAAABACAYAAAAUE+vGAAAACXBIWXMAAAsTAAALEwEAmpwYAAAKT2lDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjanVNnVFPpFj333vRCS4iAlEtvUhUIIFJCi4AUkSYqIQkQSoghodkVUcERRUUEG8igiAOOjoCMFVEsDIoK2AfkIaKOg6OIisr74Xuja9a89+bN/rXXPues852zzwfACAyWSDNRNYAMqUIeEeCDx8TG4eQuQIEKJHAAEAizZCFz/SMBAPh+PDwrIsAHvgABeNMLCADATZvAMByH/w/qQplcAYCEAcB0kThLCIAUAEB6jkKmAEBGAYCdmCZTAKAEAGDLY2LjAFAtAGAnf+bTAICd+Jl7AQBblCEVAaCRACATZYhEAGg7AKzPVopFAFgwABRmS8Q5ANgtADBJV2ZIALC3AMDOEAuyAAgMADBRiIUpAAR7AGDIIyN4AISZABRG8lc88SuuEOcqAAB4mbI8uSQ5RYFbCC1xB1dXLh4ozkkXKxQ2YQJhmkAuwnmZGTKBNA/g88wAAKCRFRHgg/P9eM4Ors7ONo62Dl8t6r8G/yJiYuP+5c+rcEAAAOF0ftH+LC+zGoA7BoBt/qIl7gRoXgugdfeLZrIPQLUAoOnaV/Nw+H48PEWhkLnZ2eXk5NhKxEJbYcpXff5nwl/AV/1s+X48/Pf14L7iJIEyXYFHBPjgwsz0TKUcz5IJhGLc5o9H/LcL//wd0yLESWK5WCoU41EScY5EmozzMqUiiUKSKcUl0v9k4t8s+wM+3zUAsGo+AXuRLahdYwP2SycQWHTA4vcAAPK7b8HUKAgDgGiD4c93/+8//UegJQCAZkmScQAAXkQkLlTKsz/HCAAARKCBKrBBG/TBGCzABhzBBdzBC/xgNoRCJMTCQhBCCmSAHHJgKayCQiiGzbAdKmAv1EAdNMBRaIaTcA4uwlW4Dj1wD/phCJ7BKLyBCQRByAgTYSHaiAFiilgjjggXmYX4IcFIBBKLJCDJiBRRIkuRNUgxUopUIFVIHfI9cgI5h1xGupE7yAAygvyGvEcxlIGyUT3UDLVDuag3GoRGogvQZHQxmo8WoJvQcrQaPYw2oefQq2gP2o8+Q8cwwOgYBzPEbDAuxsNCsTgsCZNjy7EirAyrxhqwVqwDu4n1Y8+xdwQSgUXACTYEd0IgYR5BSFhMWE7YSKggHCQ0EdoJNwkDhFHCJyKTqEu0JroR+cQYYjIxh1hILCPWEo8TLxB7iEPENyQSiUMyJ7mQAkmxpFTSEtJG0m5SI+ksqZs0SBojk8naZGuyBzmULCAryIXkneTD5DPkG+Qh8lsKnWJAcaT4U+IoUspqShnlEOU05QZlmDJBVaOaUt2ooVQRNY9aQq2htlKvUYeoEzR1mjnNgxZJS6WtopXTGmgXaPdpr+h0uhHdlR5Ol9BX0svpR+iX6AP0dwwNhhWDx4hnKBmbGAcYZxl3GK+YTKYZ04sZx1QwNzHrmOeZD5lvVVgqtip8FZHKCpVKlSaVGyovVKmqpqreqgtV81XLVI+pXlN9rkZVM1PjqQnUlqtVqp1Q61MbU2epO6iHqmeob1Q/pH5Z/YkGWcNMw09DpFGgsV/jvMYgC2MZs3gsIWsNq4Z1gTXEJrHN2Xx2KruY/R27iz2qqaE5QzNKM1ezUvOUZj8H45hx+Jx0TgnnKKeX836K3hTvKeIpG6Y0TLkxZVxrqpaXllirSKtRq0frvTau7aedpr1Fu1n7gQ5Bx0onXCdHZ4/OBZ3nU9lT3acKpxZNPTr1ri6qa6UbobtEd79up+6Ynr5egJ5Mb6feeb3n+hx9L/1U/W36p/VHDFgGswwkBtsMzhg8xTVxbzwdL8fb8VFDXcNAQ6VhlWGX4YSRudE8o9VGjUYPjGnGXOMk423GbcajJgYmISZLTepN7ppSTbmmKaY7TDtMx83MzaLN1pk1mz0x1zLnm+eb15vft2BaeFostqi2uGVJsuRaplnutrxuhVo5WaVYVVpds0atna0l1rutu6cRp7lOk06rntZnw7Dxtsm2qbcZsOXYBtuutm22fWFnYhdnt8Wuw+6TvZN9un2N/T0HDYfZDqsdWh1+c7RyFDpWOt6azpzuP33F9JbpL2dYzxDP2DPjthPLKcRpnVOb00dnF2e5c4PziIuJS4LLLpc+Lpsbxt3IveRKdPVxXeF60vWdm7Obwu2o26/uNu5p7ofcn8w0nymeWTNz0MPIQ+BR5dE/C5+VMGvfrH5PQ0+BZ7XnIy9jL5FXrdewt6V3qvdh7xc+9j5yn+M+4zw33jLeWV/MN8C3yLfLT8Nvnl+F30N/I/9k/3r/0QCngCUBZwOJgUGBWwL7+Hp8Ib+OPzrbZfay2e1BjKC5QRVBj4KtguXBrSFoyOyQrSH355jOkc5pDoVQfujW0Adh5mGLw34MJ4WHhVeGP45wiFga0TGXNXfR3ENz30T6RJZE3ptnMU85ry1KNSo+qi5qPNo3ujS6P8YuZlnM1VidWElsSxw5LiquNm5svt/87fOH4p3iC+N7F5gvyF1weaHOwvSFpxapLhIsOpZATIhOOJTwQRAqqBaMJfITdyWOCnnCHcJnIi/RNtGI2ENcKh5O8kgqTXqS7JG8NXkkxTOlLOW5hCepkLxMDUzdmzqeFpp2IG0yPTq9MYOSkZBxQqohTZO2Z+pn5mZ2y6xlhbL+xW6Lty8elQfJa7OQrAVZLQq2QqboVFoo1yoHsmdlV2a/zYnKOZarnivN7cyzytuQN5zvn//tEsIS4ZK2pYZLVy0dWOa9rGo5sjxxedsK4xUFK4ZWBqw8uIq2Km3VT6vtV5eufr0mek1rgV7ByoLBtQFr6wtVCuWFfevc1+1dT1gvWd+1YfqGnRs+FYmKrhTbF5cVf9go3HjlG4dvyr+Z3JS0qavEuWTPZtJm6ebeLZ5bDpaql+aXDm4N2dq0Dd9WtO319kXbL5fNKNu7g7ZDuaO/PLi8ZafJzs07P1SkVPRU+lQ27tLdtWHX+G7R7ht7vPY07NXbW7z3/T7JvttVAVVN1WbVZftJ+7P3P66Jqun4lvttXa1ObXHtxwPSA/0HIw6217nU1R3SPVRSj9Yr60cOxx++/p3vdy0NNg1VjZzG4iNwRHnk6fcJ3/ceDTradox7rOEH0x92HWcdL2pCmvKaRptTmvtbYlu6T8w+0dbq3nr8R9sfD5w0PFl5SvNUyWna6YLTk2fyz4ydlZ19fi753GDborZ752PO32oPb++6EHTh0kX/i+c7vDvOXPK4dPKy2+UTV7hXmq86X23qdOo8/pPTT8e7nLuarrlca7nuer21e2b36RueN87d9L158Rb/1tWeOT3dvfN6b/fF9/XfFt1+cif9zsu72Xcn7q28T7xf9EDtQdlD3YfVP1v+3Njv3H9qwHeg89HcR/cGhYPP/pH1jw9DBY+Zj8uGDYbrnjg+OTniP3L96fynQ89kzyaeF/6i/suuFxYvfvjV69fO0ZjRoZfyl5O/bXyl/erA6xmv28bCxh6+yXgzMV70VvvtwXfcdx3vo98PT+R8IH8o/2j5sfVT0Kf7kxmTk/8EA5jz/GMzLdsAAAAgY0hSTQAAeiUAAICDAAD5/wAAgOkAAHUwAADqYAAAOpgAABdvkl/FRgAADI1JREFUeNrsnXuMXVUVxn/cTCbjBJtSKjSlYK21kVKxFlq1aqm2dpRXefio+AIbKQEtj4LQYDVYDBQpBYwQqCAlIkVerUBlKgXEKATqWBAarLU2hExqndSmmTTjOJn4x/5OZvfMee17z53eMutLdubMveee892191577bX3ud9h8+bNoyBGAqcCc4CpwHi9BrAX2AlsATYBG/RaLtrb2wFoa2szHsajVh5143Cw7dBU4JxJwFJgAdCScs4olWnAt4AeYC1wA7CNcmA8jMew5VDJeK8VWAm8AZyfcfMktOgzb+garTUYwHgYj2HPIa2jTgReAa4oOOpmjdhX6FoTq/i88TAexiGlo04DXgQmUx4m65rTAj5jPIyHcUjpqBOBdmB0wMX3Am8Cr6vsTDlvtK49saCnCuVRFMbj0ObRyBz6gfvVJ94CHimLQyUWa68PMEAH8AngSOB44EMqi3JIrM+ZD4TyqLZC3gk8NgOvDSN7NDqHCrAKeBq4D3i4LA5+R10eMIzvxqWf/yQvEjq8L894P4RHrWHGoczj28B04MO4bONwsMehwOFs4HfA74EzFGH+EugC9gPrgG7gNyEcoo46CVgc8EXWUnD9JwWLdc84QnnUilp4dAGXK6p4L3BYrPwodv6lwGMl8dgD/Nz7/xag7yDbo971UpRDfwFb9CoifB7oLJnDmcBGRTufkTO9DWhTvV2ggW5hiB2ijro0MGv1j4Qv8DPgTuC7BbNcSaNAKI8k9ABPqiFvTqjEMnh0AicB++Q5/6mQB2AM8Bzwg9hnXstoFKE8WhlYRAc4qgS7VcOjWw47XnrrwCOvTvrlsI4G3q3jJNwNHKP6+zRwLHBjSRzAbXKo6G+/2sh6YGstdqiowhcEXqA/wYtcDFwEnF7wGgtijS2PR5c8VRZe13z5DC80PFsRwFeAt0vgAbBMyYIbZMwKcJk+twt4wGvI96rsUkbv3pSwJ4RHC/AgcCIuQ/hQiaNZCI9PAUcklHepI8Tr6zHPHlF5O49HW1tbXp3sU50vUTvpAa5i8CaCm5VD6Yq15WWqnyxbhPSTj6nEp5dV10cFt92ppcaLVUOmRfeOkMdjozrdkxnhzHwGZ53XAV8HjiN590coj4hLq0YyH1Ei7Wmvo65W6dScfjXwaAk8Pge8CvwZmFliR63GHk1As0qTGn+HOs9277yHFHX55a0CPLI47NLIuCFhMFnn/b8duDblGn3iWy2HpP5QKbM+KkoKFcWvgZsSvtRLev2mjHlYEuakHCdhv8p8ec7u2PsvADsyKuJphSO18ogawf4ELzzFu18UBr/IwNrYEh2vKYHHTXIMi4BbPV6LvLIZeFYN+UiFed/M6BzV2uMK4L9eeUUNrDcWPTykacFdwC+AP+Y4mTk5HLYpR9CR8v5fvePbgBEZHai3Sg5ZGOnlJ8bJiXWrHYRgTiWj8SbhHuBqjQzxTnK1yuMB15uacpyEWTJyNBd5n+L3zeoYu3M+v4n0tH4ID4BPevMdH1GC7ZwqvWcIj/W6/93AU15HvdsrK4DPKmmyR2Hm/cDHU0K9au0RH01O9mxd8XIHl8hhnIRbyjta4WgejzQOaxTGXgOMTXjfnxf+GPh3SjQDMKFKDklYBJwLHI7LAJ8E/FaO+07gh3IchdtFE253f5k4KuDc8SnHSRgDXKmRJJqz3qjSIm+Z1XhGlsQjqvRn9fc44Bt6fYU68YqURnV4ifYogkcykmErgZ+UxGOL57T6gT/IKYwAztLrC4Ffqa7OlFN7QXPJFuA7GTzSOFynzj9W8+XTYu+/KT4Vr31MSbnPlBxb5NmhRwNYjxcBRuH4iRr9t4lrp9rjBo2yM/LaZ1POCSFeNMqGHVNFaEABHo8pKdScEKb0eAZKwricbF0ID3C7Rv6iDrlSDaZblb1JHOM4rmR7FEGzEl4zNOr62c1nS+SxMSXRt1gNfJs6KcATwFwdX69EznIlIptSeIzMmBuP9eaQE2LTn/2am06KRX9xXJIREo8sYIdOOYodVdbTKLWbtFF7ZGhK/yl5qMuBO7zXr0wZRcrE6Yr1q0n9z6wDn3HAT3X8WeAZjabNNA4u1vwxCtefVz4hikjKwgxgtjeibtVocb0cd4uXGHlZBeBf+rtbjXxSjTzO9ObrEV72rtuXEEWMlZ1qwSrxv9jr0FtjyayZSkA+k/D5PQqH12dl6/aqRxdBU2zeUSv2xo6zeIzGLUl8OSGRlIdzS+SRhMir3wx8pIY5aq084piekOx6yetQZfGYneCoP68E3j3AV73IJy3zui+DR1FbtCV01OeAr+n4VoXD8U7WWsAWWRyi9fFjccspXQmOcDbwnpSOCunLVAB7K6Rvoh8K7Ew5TsNczWVCGvB4b55UFo8ohLoWt/TTK0/aI6ewdIjsUdSxEuhgy+ARNf5ur77GAP9LKSdn8CjKYRaDl1DWiUOHwmwf5wBfKmiLLA6R01uq+fqjuCTnebjdSad6U6bbZIcPKm/xvSL1UdGFDxa2pBxnzbk6FSoUxUryd5OE8OgCTsEtE30Aty76IPAf3C6lyZoL3jIE9miUetmhUHcDbp37egaWZWYykLHfhcs6N6ncAXwUt3zUl8FjS4BzmJkQVp6CW17pieUMVgfYIrQ+pqiNzNT3ixzlVOAL6rC7cCsleSH/loomsQcLm1KOs7BaXmhEgXMvLBiGhvBYqNH0CQY/0T8Ll44/HJcR7h8CezRCvTyCy7iehtvksEwdb5wSbeNxO7ci+71f5VKNdGenONNNVdgi6ceNOmLhfDPuyZZRAbYooz62KbnVontHCca8trypSV6wh9p3J4WihwN3kxTlEWUyj8ftK06bry7A7T8uk0e3RowJDKylJs1XZ+k6eyj+SFa19jiY9TIjpbGPwK0dXuR9/5W4tdNVuK2e4JYtrvLmkGk8Qmwxt6CznxFoi3rUxw45qx2kL//0ABsq8jRrD4LXXpuQtFibMQd4BveM3xKFnBekdNLoN2weoNhG9VAeUfjbkxMejwqcS4fwaJR6uUsjTbw8Dnw/wUmdj9v2GO1gejWlkx7Ao729PcQWU8le81zBwLp3iC2qqY+KEkhJOYI+3HrzdTl810bJJDRC9Q1hY+jTPeNI41HBbcHbhVuvS1qvmoDbofJ33JJEpQ48RiiU3idPmBTa3o9bElgWkLwJ5RGNZvNUTvbsNM8rY2KfOcF7b1ZJPKpNcjUF2qMoh4rmfUmvryqYvAnl4I+y+3HJxU4lkabJqfcqsXQO7kmqh3FbKntxSznNWRyavNj5dgbW3OqN20neIJ/FY5Q64jUasbZrRG1VJx0zRDzW4DK89+J2onxR996t0aRDiYLFdeaxKqUxtmfcZ3EOr2p4DFX7COFwoeywTv9P1jRodp04zFe0BwNLUeAet/Odub9dcqPa0D6dMz+Lg+/VluGeyKj3E/RbGZwmJ5DHaGr/OY5qebRqjrNc4fjfVI7QKDuX/K2CZdujUeql3jyKcqjglkhe0mg3lbC1/1AOZ2mqtUYjagialYS7LItDU2zIno97uiOvEyxkIOUMxXeUdOkeWV8mhEe1KIPHmIz5FcPQHkPBI4RDhep2pFXL4TyVutgh7mW249LbedvLpirWjsqUgjdv48DnE9NQlEe1RjAehy6PYckhKRzowD0GtbXEm2/VNTsCPmM8jIdxyOiokceYTu0/mtWna0wv6LGNh/EwDilxfNacZAkupX8f2euGcfToMyfoGvtr+BLGw3gMew5FNgRsw20uuJw6yMkFwHgYj2HLoYLBYGh4mD6q8Xgn8DB9VEyH03g0Lg/TR8V0OI1HY/MwfVRMh9N4NDYP00fF9FGNR2PzMH1UTB/1UONh+qiNxcH0UesA00c99Oxh+qiYPmooD9NHHdp6MX1UTB81lIfpozqYPupgTMX0UU0fVTB91ANh+qgFYfqoDqaPavqoUX8wfVRMHxVMHxVMHzUVpo/qYPqo2aOJ6aOaPqrpowbA9FFNH3VQRzB9VNNHjcP0UYvB9FEF00c1fdQod2D6qFVgb+zY9FFr4xGH6aOaPmop2JlynAbTRw2D6aOaPmop2JJynDXnMn3UxqsX00cdDNNHxfRRG61eTB+1GEwfNQGmj1r/ejF91Npg+qiYPupQ1Ivpo2bD9FETzjF9VNNHjWxg+qglwfRRa+dh+qjZuQnTR60Rpo9avj0apV7qzcP0UTF91FAepo869DxMH1UwfVTj0eg8TB9VMB1O49HoPEwf1fMYpsNpPBqZh+mjerG46XAaj0bmYfqoHkyH03g0Oo93PIf/DwAk3zVkOB0x7gAAAABJRU5ErkJggg==) no-repeat 0px 0px; 
    width: 32px;
    height: 32px;
    display: block;
}
.social ul li a.twitter{
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAOoAAABACAYAAAAUE+vGAAAACXBIWXMAAAsTAAALEwEAmpwYAAAKT2lDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjanVNnVFPpFj333vRCS4iAlEtvUhUIIFJCi4AUkSYqIQkQSoghodk…