<h3><a href="#">Liste des héros</a></h3>

<div>
  <ul class="heroes">
    <li *ngFor="let hero of heroes">
      <span>
        <a routerLink="/detail/{{hero.id}}">
          <!-- Colonne 1 -->
          <span class="badge">{{hero.id}}</span> {{hero.name}}
        </a>
        <button class="delete" title="delete hero" (click)="delete(hero)">X</button>
      </span>
    </li>
  </ul>
</div>
<p>
  <label>
    <input #heroName />
  </label>
  <!-- Fonction add du composant HeroesComponent -->
  <!-- La valeur est passé en parametre et est initialisé à '' -->
  <button (click)="add(heroName.value); heroName.value=''"> Add </button>

</p>

<div class="blog-poast-info">
  <ul>
    <li><i class="glyphicon glyphicon-user"> </i><a class="admin" href="#"> Admin </a></li>
    <li><i class="glyphicon glyphicon-calendar"> </i>30-12-2015</li>
    <li><i class="glyphicon glyphicon-comment"> </i><a class="p-blog" href="#">3 Comments </a></li>
    <li><i class="glyphicon glyphicon-heart"> </i><a class="admin" href="#">5 favourites </a></li>
    <li><i class="glyphicon glyphicon-eye-open"> </i>1.128 views</li>
  </ul>
</div>
